body {
  background-color: white;
}

h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 46px;
  text-align: center;
  color: #3e3e3e
}

h2{
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #2d2d2d
}
