.column {
  float: left;
  width: 33.33%;
  border-bottom: 5px black;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;

  clear: both;
  border-bottom: 5px black;
}

img.logo {
    width: 50%
  height: 50%
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;

  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;

  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

button {
	background-color:#f28c8c;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
button:hover {
	background-color:#eb675e;
}
button:active {
	position:relative;
	top:1px;
}

.myButton {
	background-color:#fd5e5e;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times;
	font-size:30px;
	padding:15px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;

}

.homebutton {
  align-items: center;
}

.BackButton {
	background-color:#fd5e5e;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times;
	font-size:22px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.BackButton:hover {
	background-color:#eb675e;
}
.BackButton:active {
	position:relative;
	top:1px;
}
